.header{
    background: var(--gray-800);
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    align-items: center;
    gap: 1rem;
}

.header img{
    height: 3.2rem;
}
